/* Application-wide Styles */
h1 {
  color: #095d63; /* The title color from the logo */
  font-family: 'Montserrat', sans-serif;
  font-size: 250%;
}
h2,
h3 {
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

p {
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

footer .container {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

header .container {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: 'Lato', sans-serif;
}
/* everywhere else */
* {
  font-family: 'Lato', sans-serif;
}

