.product-type {
  color: rgb(204, 136, 9);
  letter-spacing: 0.1em;
  &:hover {
    color: rgb(133, 88, 6);
    cursor: pointer;
  }
  &.active {
    color: rgb(133, 88, 6);
    font-weight: 600;
  }
}

.product {
  max-width: 350px;
  img {
    margin-bottom: 1rem;
  }
}

input.quantity {
  width: 55px;
  height: 40px;
  padding: 7px;
  display: inline;
  margin-left: 1rem;
}

button.add-to-cart {
  margin-left:5%
}

.cart-button {
  background-color: rgb(243, 240, 234);
  cursor: pointer;
  position: fixed;
  top: calc(50% - 80px);
  right: 0px;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 17px;
  justify-content: center;
  width: 70px;
  border: 1px solid darkgray;
  border-right: none;
  box-shadow: 0px 3px 8px #00000038;
  b {
    font-size: 18px;
  }
  &.dark {
    background-color: rgb(153, 183, 184);
  }
}

