<app-header></app-header>
<div class="container">
  <h1>About us</h1>
  <div class="mt-5">
    <p>
      Podcast “Kinnisvarajutud” võtab luubi alla Eesti kinnisvaraturu ning
      üritab erinevad teemad sügavuti lahti võtta. Eesmärk on rääkida
      kinnisvarast kui varaklassist (väike)investori vaatenurgast ning olla
      valdkonnast huvitatutele abimeheks ja meelelahutuseks. Saatejuhid on
      mikroinvestor ja kinnisvarahuviline Siim Semiskar ja kinnisvaramaakler
      ning 1Estate Kinnisvara juhatuse liige Algis Liblik. Kuulajad saavad kaasa
      rääkida, küsimusi küsida või saate kohta tagasisidet anda Facebooki grupis
      <a href="https://www.facebook.com/groups/359228128419094" target="__blank"
        >Kinnisvarajutud</a
      >. Toeta meie tegemisi Patreonis ja saa ligipääs boonusepisoodidele ja
      muule lisamaterjalile:
      <a href="www.patreon.com/kinnisvarajutud" targer="__blank"
        >www.patreon.com/kinnisvarajutud</a
      >
    </p>
  </div>
  <div class="profiles-container">
    <div class="profiles">
      <div class="profile">
        <div><img src="assets\Siim1.jpg" alt="Image of Siim" /></div>
        <h2 class="mt-3">Siim Semiskar</h2>
        <p>
          Olen väikeinvestorist Hunt Kriimsilm, kes kinnisvarast kui
          varaklassist hakkas sügavamalt huvi tundma 2020. aasta kevade hakul
          ehk vahetult pärast koroonaviiruse pandeemia lahvatamist. Nagu mul
          kombeks, sai pea ees kohe valdkonda sisse hüpatud ning lisaks
          üürikorterite portfelli kasvatamisele olen järjest enam hakanud huvi
          tundma ka flippimise vastu. Juhuse tahtel ristusid minu teed Algisega
          ning meediavaldkonnas töötanuna käisin talle välja "Kinnisvarajutud"
          podcasti idee. Edasine on juba ajalugu.
        </p>
      </div>
      <div class="profile">
        <div><img src="assets\Algis.jpg" alt="Image of Algis" /></div>
        <h2 class="mt-3">Algis Liblik</h2>
        <p>
          Olen varasemas karjääris pikalt palgatööd teinud müügiproff, kes
          otsustas ühel hetkel koos hea kolleegiga astuda tol hetkel
          hullumeelsena tundunud sammu luua enda kinnisvarafirma 1Estate
          Kinnisvara. Kiirelt sai selgeks, et tavapärase maakleritöö kõrvalt
          tahan üha enam pakkuda oma oskusi ja teadmisi just investoritele,
          abistamaks neil ellu viima seatud eesmärkide. Kui Siim justkui mu
          mõtteid lugedes tuli ühel päeval täiesti ootamatu jutuga alustada
          kinnisvarapodcasti, siis ei pidanud pikalt mõtlema ja siin me olemegi.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
