<footer>
  <div class="footer-body">
    <section class="col-3">
      <div>Listen:
        <a href="https://soundcloud.com/user-79516917"
          ><img src="/assets/soundcloud_icon.png" alt=""
      /></a></div>
      <div>Follow:
        <a href="https://www.facebook.com/groups/359228128419094"
          ><img src="/assets/facebook _icon.png" alt=""
        /></a>
      </div>
    </section>
    <section class="col-6">
      <div>Support us: <a href="">www.patreon.com/kinnisvarajutud</a> </div>
    </section>
    <section class="col-3">
      <div>kinnisvarajutud@gmail.com</div>
      <div>56649737</div>
    </section>
  </div>
</footer>
