<footer>
  <div class="container">
    <div class="d-lg-flex justify-content-lg-between border-top pt-3 pb-4 mt-4 align-items-center ">
      <div class="social-icons w-sm-auto d-flex align-items-center justify-content-center mb-1">
        <a href="https://soundcloud.com/user-79516917"
          ><fa-icon [icon]="['fab', 'soundcloud']"></fa-icon
          ></a>
        <a href="https://open.spotify.com/show/0feO2mMq54gP2SpKYq4sfN" target="__blank"
          ><fa-icon [icon]="['fab', 'spotify']"></fa-icon
          ></a>
        <a href="https://www.facebook.com/groups/359228128419094" target="__blank"
          ><fa-icon [icon]="['fab', 'facebook']"></fa-icon
          ></a>
        <a href="https://www.patreon.com/kinnisvarajutud" target="__blank"
          ><fa-icon [icon]="['fab', 'patreon']"></fa-icon
            ></a>
      </div>
      <div class="d-flex align-items-center justify-content-center mt-lg-0">
        <div class="m-2 email"
          ><fa-icon [icon]="['fas', 'envelope']"></fa-icon
            >kinnisvarajutud@gmail.com
        </div>
        <div class="m-2"
          ><fa-icon [icon]="['fas', 'phone']"></fa-icon>56649737
        </div>
      </div>
    </div>
  </div>
</footer>

