footer {
  background-color: rgb(60, 91, 121);
  padding: 0.6rem;
  color: rgb(245, 230, 217);
}

.socials img {
  height: 1.5rem;
  // transition: all 0.7s ease;
  opacity: 0.75;

}

.contact img {
  height: 1.5rem;
}

.socials img:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color:rgb(245, 230, 217);
}
