footer{
  margin-top:auto;
  background-color: rgb(112, 112, 112);
  padding: 0.5rem;
  color: white;
}

.footer-body{
  width: 80%;
  margin:auto;
  display: flex;

}

.middle-section {
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
}

.socials img {
  height: 1.5rem;
  // transition: all 0.7s ease;
  opacity: 0.7;
}

.contact img {
  height: 1.5rem;
  // transition: all 0.7s ease;
  opacity: 0.7;
}

.footer-body img:hover {
  opacity: 1;
}

a{
  text-decoration: none;
  color:white;
}
