<footer>
  <div class="d-flex w-75 m-auto">
    <section class="d-flex flex-column col-3 socials">
      <div>Listen:
        <a href="https://soundcloud.com/user-79516917"
          ><img class="mx-1" src="/assets/soundcloud_icon.png" alt=""
      /></a>
      <a href="https://open.spotify.com/show/0feO2mMq54gP2SpKYq4sfN"
      ><img src="/assets/spotify_icon.png" alt=""
    /></a></div>
      <div>Follow:
        <a href="https://www.facebook.com/groups/359228128419094"
          ><img src="/assets/facebook_icon.png" alt=""
        /></a>
      </div>
    </section>
    <section class="d-flex flex-column col-6 text-center">
      <div>Support us: <a href="">www.patreon.com/kinnisvarajutud</a> </div>
    </section>
    <section class="d-flex flex-column col-3 contact">
      <div><img src="/assets/email_icon.png" alt=""
        /> kinnisvarajutud@gmail.com</div>
      <div><img src="/assets/phone_icon.png" alt=""
        /> 56649737</div>
    </section>
  </div>
</footer>
