<app-header></app-header>
<div class="p-5">
  <div class="container-fluid py-5">
    <div class="row mt-3">
      <h3>Latest episodes</h3>
      <div class="col-md-4">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1171532626&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/62-appi-mida-teha-mul-pole-teadmisi-mul-pole-raha-ja-ma-ei-leia-uhtegi-head-tehingut"
            title="#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei leia ühtegi head tehingut"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei
            leia ühtegi head tehingut</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1181352823&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/64-mihkel-kukk-mees-kes-julgeb-meie-saates-oelda-et-kinnisvara-on-vahend-mitte-religioon"
            title="#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et kinnisvara on vahend, mitte religioon!"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et
            kinnisvara on vahend, mitte religioon!</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1171532626&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/62-appi-mida-teha-mul-pole-teadmisi-mul-pole-raha-ja-ma-ei-leia-uhtegi-head-tehingut"
            title="#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei leia ühtegi head tehingut"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei
            leia ühtegi head tehingut</a
          >
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <h3>Most listened episodes</h3>
      <div class="col-md-2">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1171532626&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/62-appi-mida-teha-mul-pole-teadmisi-mul-pole-raha-ja-ma-ei-leia-uhtegi-head-tehingut"
            title="#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei leia ühtegi head tehingut"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei
            leia ühtegi head tehingut</a
          >
        </div>
      </div>
      <div class="col-md-2">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1181352823&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/64-mihkel-kukk-mees-kes-julgeb-meie-saates-oelda-et-kinnisvara-on-vahend-mitte-religioon"
            title="#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et kinnisvara on vahend, mitte religioon!"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et
            kinnisvara on vahend, mitte religioon!</a
          >
        </div>
      </div>
      <div class="col-md-2">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1181352823&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/64-mihkel-kukk-mees-kes-julgeb-meie-saates-oelda-et-kinnisvara-on-vahend-mitte-religioon"
            title="#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et kinnisvara on vahend, mitte religioon!"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et
            kinnisvara on vahend, mitte religioon!</a
          >
        </div>
      </div>
      <div class="col-md-2">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1181352823&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/64-mihkel-kukk-mees-kes-julgeb-meie-saates-oelda-et-kinnisvara-on-vahend-mitte-religioon"
            title="#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et kinnisvara on vahend, mitte religioon!"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et
            kinnisvara on vahend, mitte religioon!</a
          >
        </div>
      </div>
      <div class="col-md-2">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1181352823&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/64-mihkel-kukk-mees-kes-julgeb-meie-saates-oelda-et-kinnisvara-on-vahend-mitte-religioon"
            title="#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et kinnisvara on vahend, mitte religioon!"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#64 | Mihkel Kukk - mees, kes julgeb meie saates öelda, et
            kinnisvara on vahend, mitte religioon!</a
          >
        </div>
      </div>
      <div class="col-md-2">
        <iframe
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1171532626&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
        <div
          style="
            font-size: 10px;
            color: #cccccc;
            line-break: anywhere;
            word-break: normal;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            font-weight: 100;
          "
        >
          <a
            href="https://soundcloud.com/user-79516917"
            title="Kinnisvarajutud"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >Kinnisvarajutud</a
          >
          ·
          <a
            href="https://soundcloud.com/user-79516917/62-appi-mida-teha-mul-pole-teadmisi-mul-pole-raha-ja-ma-ei-leia-uhtegi-head-tehingut"
            title="#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei leia ühtegi head tehingut"
            target="_blank"
            style="color: #cccccc; text-decoration: none"
            >#62 | Appi, mida teha?! Mul pole teadmisi, mul pole raha ja ma ei
            leia ühtegi head tehingut</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
