<app-header></app-header>

<div class="container">
  <h1 id="latest-episodes">Latest episodes</h1>

  <div class="d-flex flex-wrap justify-content-evenly">
    <div
      class="episode col-md-3 m-4"
      *ngFor="let episode of latestEpisodes; let i = index"
    >
      <iframe
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        [src]="genuinevideoUrlsForLatestEpisodes[i]"
      ></iframe>

      <a [routerLink]="['/episode', episode.id]"
        >#{{ episode.id }} | {{ episode.title }}</a
      >
    </div>
  </div>

  <h1 id="popular-episodes" class="mt-5">Popular episodes</h1>

  <div class="d-flex flex-wrap justify-content-evenly">
    <div
      class="episode col-md-3 m-4"
      *ngFor="let episode of popularEpisodes; let i = index"
    >
      <iframe
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        [src]="genuinevideoUrlsForPopularEpisodes[i]"
      ></iframe>

      <a [routerLink]="['/episode', episode.id]"
        >#{{ episode.id }} | {{ episode.title }}</a
      >
    </div>
  </div>

  <h1 id="all-episodes" class="mt-5">All episodes</h1>

  <div class="d-flex flex-wrap justify-content-evenly">
    <div
      class="episode col-md-3 m-4"
      *ngFor="let episode of displayedEpisodes; let i = index"
    >
      <iframe
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        [src]="genuinevideoUrlsForAllEpisodes[i]"
      ></iframe>

      <a [routerLink]="['/episode', episode.id]"
        >#{{ episode.id }} | {{ episode.title }}</a
      >
    </div>
  </div>
</div>

<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
  <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
</div>

<app-footer></app-footer>
